__pycache__
.coverage
.dmypy.json
.DS_Store
.env
.mypy_cache
.pytest_cache
.python-version
.venv
.vscode
coverage.xml
data/
dist/
htmlcov/
node_modules/
site/
{% if ts_integration %}src/{{ project_module }}/static/assets/*{% endif %}
