SECRET_KEY="00c#jblr9b+s-^ulqj&8r8u1(-av#^!+e6czoz&(k4b3q1pacx"
ALLOWED_HOSTS=*
DEBUG=True

# The git environmental variables are used when we build and publish releases
GIT_COMMIT_HASH=n/a
GIT_COMMIT_TIME=0000000000
GIT_COMMIT_COUNT=-1
