[project]
name = "{{ project_module }}"
version = "0.1.0"
description = ""
authors = [{ name = "{{ user_name }}", email = "{{ user_email }}" }]
requires-python = ">=3.12,<3.13"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    "django>=6,<7",
    "django-environ>=0.13.0,<1",
    "psycopg[binary, pool]>=3.3.3,<4",
    "uvicorn>=0.42.0,<1",
    "uvloop>=0.22.1,<1; sys_platform != 'win32'",
    "sentry-sdk>=2.55.0,<3",
    "httptools>=0.7.1,<1",
    {% if use_feature_toggles %}"django-waffle>=5.0.0,<6",{% endif %}
    {% if use_htmx %}"django-htmx>=1.27.0,<2",{% endif %}
]

[project.scripts]
manage = "{{ project_module }}.manage:main"

[dependency-groups]
dev = [
    "django-stubs>=6.0.0,<7",
    "factory-boy>=3.3.0,<4",
    "invoke>=2.2.1,<3",
    "ipython>=9.11.0,<10",
    "mkdocs>=1.6.1,<2",
    "mkdocs-material>=9.7.5,<10",
    "mkdocstrings>=1.0.3,<2",
    "mypy[mypyc]>=1.19.1,<2",
    "pudb>=2025.1.5,<2026",
    "pytest>=9.0.2,<10",
    "pytest-cov>=7.0.0,<8",
    "pytest-django>=4.12.0,<5",
    "pytest-playwright>=0.7.2,<0.8",
    "pytest-spec>=6.0.0,<7",
    "ruff>=0.15.6,<1",
]

[tool.uv]
default-groups = "all"

[tool.hatch.build.targets.sdist]
include = ["src/{{ project_module }}"]

[tool.hatch.build.targets.wheel]
include = ["src/{{ project_module }}"]

[tool.hatch.build.targets.wheel.sources]
"src/{{ project_module }}" = "{{ project_module }}"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.mypy]
strict = true
plugins = ["mypy_django_plugin.main"]

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = "environ"

[tool.django-stubs]
django_settings_module = "{{ project_module }}.main.settings"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "{{ project_module }}.main.settings"
addopts = "--rootdir src --spec"
norecursedirs = ".git .venv docs data"
spec_header_format = "{test_case} [{module_path}]:"

markers = """
    functional: functions/end-to-end tests
    system: Regular integration and unit tests
"""

# We should never be dealing with naive datetimes. If we need to test with
# naive datetimes, we should explicitly catch the warning in the test.
# Otherwise, naive datetimes should raise errors.
filterwarnings = """
    error:.*received a naive datetime:RuntimeWarning:django.db.models.fields
"""

[tool.coverage.run]
omit = ["**/migrations/*"]


[tool.ruff.lint]
select = [
    "A",  # flake8-builtins
    "B0", # flake8-bugbear (not opinionated)
    "E", # pycodestyle (errors)
    "F", # pyflake
    "W", # pycodestyle (warnings)
    "S", # flake8-bandit
    "I", # isort
    "C90"  # mccabe
]

[tool.ruff.lint.per-file-ignores]
"src/tests/*" = ["S101"]

[tool.ruff.lint.mccabe]
max-complexity = 15
