[project]
name = "{{ project_module }}"
version = "0.1.0"
description = ""
authors = [{ name = "{{ user_name }}", email = "{{ user_email }}" }]
requires-python = ">=3.12,<3.13"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    "django>=5.1.9,<6",
    "django-environ>=0.12.0,<0.13",
    "psycopg[binary, pool]>=3.2.0,<4",
    "uvicorn>=0.34.0,<0.35",
    "uvloop>=0.21.0,<0.22 ; sys_platform != 'win32'",
    "sentry-sdk>=2.20.0,<3",
    "httptools>=0.6.4,<0.7",
    {% if use_feature_toggles %}"django-waffle>=5.0.0,<6",{% endif %}
]

[project.scripts]
manage = "{{ project_module }}.manage:main"

[dependency-groups]
dev = [
    "django-stubs>=5.1.0,<6",
    "factory-boy>=3.3.0,<4",
    "invoke>=2.2.0,<3",
    "ipython>=8.31.0,<9",
    "mkdocs>=1.6.0,<2",
    "mkdocs-material>=9.5.0,<10",
    "mkdocstrings>=0.27.0,<0.28",
    "mypy[mypyc]>=1.14.0,<2",
    "pudb>=2024.1.0,<2025",
    "pytest>=8.3.0,<9",
    "pytest-cov>=6.0.0,<7",
    "pytest-django>=4.9.0,<5",
    "pytest-playwright>=0.6.0,<0.7",
    "pytest-spec>=4.0.0,<5",
    "ruff>=0.11,<0.12",
]

[tool.uv]
default-groups = "all"

[tool.hatch.build.targets.sdist]
include = ["src/{{ project_module }}"]

[tool.hatch.build.targets.wheel]
include = ["src/{{ project_module }}"]

[tool.hatch.build.targets.wheel.sources]
"src/{{ project_module }}" = "{{ project_module }}"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.mypy]
strict = true
plugins = ["mypy_django_plugin.main"]

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = "environ"

[tool.django-stubs]
django_settings_module = "{{ project_module }}.main.settings"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "{{ project_module }}.main.settings"
addopts = "--rootdir src --spec"
norecursedirs = ".git .venv docs data"
spec_header_format = "{test_case} [{module_path}]:"

markers = """
    functional: functions/end-to-end tests
    system: Regular integration and unit tests
"""

# We should never be dealing with naive datetimes. If we need to test with
# naive datetimes, we should explicitly catch the warning in the test.
# Otherwise, naive datetimes should raise errors.
filterwarnings = """
    error:.*received a naive datetime:RuntimeWarning:django.db.models.fields
"""

[tool.coverage.run]
omit = ["**/migrations/*"]


[tool.ruff.lint]
select = [
    "A",  # flake8-builtins
    "B0", # flake8-bugbear (not opinionated)
    "E", # pycodestyle (errors)
    "F", # pyflake
    "W", # pycodestyle (warnings)
    "S", # flake8-bandit
    "I", # isort
    "C90"  # mccabe
]

[tool.ruff.lint.per-file-ignores]
"src/tests/*" = ["S101"]

[tool.ruff.lint.mccabe]
max-complexity = 15
