# Python and template formatting is handled by different tools
*.py
*.html
# mkdoc formatting rules conflict with prettier
docs/
# Temporary files generated during testing that happens to contain HTML and JS
htmlcov/
